:root {
    --theme-hover: #2196F3; 
    --theme-main: #757575;
    --theme-heading: #212121;
    --theme-logo: #000000;
    --theme-accent: #FFFFFF;
    --theme-bg-btn: #F5F4FA;
    --theme-contacts: rgba(255, 255, 255, 0.6);
    --theme-header-border: #ECECEC;
    --theme-clients-border: #AFB1B8;
    --theme-portfolio-border: #EEEEEE;
    --theme-bg-bt-hover: #188CE8;
    --theme-bg-team: #FFFFFF;
    --theme-clients: #AFB1B8;
    --theme-icons: #AFB1B8;
    --theme-footer-icons: #FFFFFF;
    --typical-transition-duration: 250ms;
    --typical-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--theme-main);
    font-style: normal;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

.link {
    color: inherit;
    text-decoration: none;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.btn {
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 4px;
    /* padding: 10px 32px; */

    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--theme-accent);
    background-color: var(--theme-hover);

    transition: background-color var(--typical-transition-duration) var(--typical-transition-timing-function);
}

/* ---------------------header--------------------- */
.header {
    display: flex;
    align-items: center;
}

.header-border {
    margin: 0 auto;
    border-bottom: 1px solid var(--theme-header-border);
}

.header-logo {
    margin-right: 93px;

    color: var(--theme-logo);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-designe {
    color: var(--theme-hover);
}

.header-navigation, 
.header-contacts {
    display: flex;
    gap: 50px;
}

.header-contacts {
    margin-left: auto;
}

.header-icons {
    margin-right: 10px;
    fill: currentColor;
}

.header-nav-link, 
.header-contacts-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.header-nav-link {
    position: relative;
    color: var(--theme-heading);
}

.header-nav-link.current::after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--theme-hover);
    position: absolute;
    bottom: 0;
    border-radius: 2px;
}

.header-contacts-link {
    color: inherit;
}

.header-navigation .link.current {
    color: var(--theme-hover);
}

.header-contacts-link:hover,
.header-nav-link:hover,
.header-contacts-link:focus,
.header-nav-link:focus {
    color: var(--theme-hover);
    opacity: 1;
}

/* ---------------------call--------------------- */
.call {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/bgImg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.call-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--theme-accent);
}

.call-btn:hover,
.call-btn:focus {
    background-color: var(--theme-bg-bt-hover);
}

/* ---------------------features--------------------- */
.features {
    padding-bottom: 0;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-item {
    width: 270px;
}

.features-design {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-bg-btn);
    border-radius: 4px;
    /* padding: 25px 100px; */
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}

.features-header {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--theme-heading);
}

.features-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* ---------------------occupation--------------------- */
.occupation-list {
    display: flex;
    gap: 30px;
}

.occupation-header, 
.team-header,
.clients-header {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--theme-heading);
}

.occupation-item {
    position: relative;
    width: 370px;
}

.occupation-signature {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--theme-accent);
    
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

/* ---------------------team--------------------- */
.team {
    margin: 0 auto;
    background-color: var(--theme-bg-btn);
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    width: 270px;
    background-color: var(--theme-bg-team);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-description {
    padding: 30px 32px;
}

.team-name {
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    color: var(--theme-heading);
}

.team-position {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-socials {
    display: flex;
    justify-content: center;
}

.team-socials-item:not(:last-child) {
    margin-right: 10px;
}

.team-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--theme-icons);

    transition: background-color var(--typical-transition-duration) var(--typical-transition-timing-function),
    color var(--typical-transition-duration) var(--typical-transition-timing-function);

}

.team-socials-link:hover,
.team-socials-link:focus {
    background-color: var(--theme-hover);
    color: var(--theme-accent);
}

.team-socials-icons {
    fill: currentColor;
}

/* ---------------------clients--------------------- */

.clients-list {
    display: flex;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--theme-clients-border);
    border-radius: 4px;
    color: var(--theme-clients);

    transition: border-color var(--typical-transition-duration) var(--typical-transition-timing-function),
    color var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.clients-socials-link:hover,
.clients-socials-link:focus {
    border-color: var(--theme-hover);
    color: var(--theme-hover);
}

.clients-icon {
    fill: currentColor;
}

/* ---------------------footer--------------------- */
.footer {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;

    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--theme-accent);
}

.footer-adress,
.footer-contacts {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.footer-adress {
    color: var(--theme-accent);
}

.footer-contacts {
    color: var(--theme-contacts);

    transition: color var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.footer-contacts {
    margin-top: 9px;
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--theme-accent);
    opacity: 1;
}

.footer-box {
    display: flex;
    gap: 70px;
}

.footer-socials,
.footer-subscribe {
    padding-top: 12px;
}

.footer-subscribe {
    margin-left: auto;
}

.footer-socials-call,
.footer-subscribe-call {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--theme-accent);
}

.footer-socials-list {
    display: flex;
}

.footer-socials-item:not(:last-child) {
    margin-right: 10px;
}

.footer-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--theme-footer-icons);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.footer-socials-icons {
    fill: var(--theme-accent);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: var(--theme-hover);
}

.footer-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    color: var(--theme-accent);
    background-color: transparent;

    transition: border-color var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.footer-input:hover {
    border-color: var(--theme-accent);
}

.footer-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: var(--theme-contacts);
}

.footer-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: var(--theme-bg-bt-hover);
}

.footer-send-icons {
    margin-left: 10px;
}


/* ---------------------portfolio--------------------- */

.portfolio-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-btn {
    padding: 6px 22px;

    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--theme-heading);
    background-color: var(--theme-bg-btn);

    transition: color var(--typical-transition-duration) var(--typical-transition-timing-function), 
    background-color var(--typical-transition-duration) var(--typical-transition-timing-function), 
    box-shadow var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--theme-accent);
    background-color: var(--theme-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    width: 370px;
}

.portfolio-projects-link {
    display: block;

    transition: box-shadow var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-projects-information {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgba(33, 150, 243, 0.9);

    opacity: 0;
    transform: translateY(100%);

    transition: transform var(--typical-transition-duration) var(--typical-transition-timing-function),
    opacity var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.portfolio-projects-text {
    font-size: 18px;
    line-height: 1.56;
    color: var(--theme-accent);
}

.portfolio-projects-link:hover .portfolio-projects-information,
.portfolio-projects-link:focus .portfolio-projects-information {
    opacity: 1;
    transform: translateY(0);
}

.portfolio-specification {
    padding-top: 20px;;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border-left: 1px solid var(--theme-portfolio-border);
    border-right: 1px solid var(--theme-portfolio-border);
    border-bottom: 1px solid var(--theme-portfolio-border);
}

.project-header {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--theme-heading);
}

.portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

.portfolio-projects-link:hover,
.portfolio-projects-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
        0px 4px 4px rgba(0, 0, 0, 0.06), 
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    
    visibility: visible;
    opacity: 1;
    transition: opacity var(--typical-transition-duration) var(--typical-transition-timing-function),
    visibility var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    min-height: 581px;
    min-width: 528px;
    box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    background-color: #FFFFFF;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.close-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    fill: #000000;
}

.close-icon:hover,
.close-icon:focus {
    fill: #2196F3;
}

.modal-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--theme-heading);
}

.modal-form {
    margin-bottom: 30px;
}

.modal-field:not(:last-child) {
    margin-bottom: 10px;
}

.modal-field.modal-coments{
    margin-bottom: 20px;
}

.modal-form-label {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var();
}

.modal-input-wrap {
    position: relative;
}

.modal-form-input {
    display: block;
    width: 100%;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    outline: none;

    transition: border-color var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.modal-field:focus-within .modal-form-input {
    border-color: var(--theme-hover);
}

.modal-form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: #212121;

    transition: fill var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.modal-field:focus-within .modal-form-icon {
    fill: var(--theme-hover);
}

.modal-form-textarea {
    display: block;
    width: 100%;
    padding: 12px 16px;
    min-height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border-color var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.modal-form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-field:focus-within > .modal-form-textarea {
    border-color: var(--theme-hover);
}

.modal-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
}

.modal-policy-icon {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
}

/* варіант з background-image */

/* .modal-checkbox:checked + .modal-policy-icon {
    border-color: transparent;
    background-image: url(../images/modal-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2196F3;
    background-size: contain;
} */

/* варіант з галочкою зі SVG-спрайта */

.modal-checkbox-icon {
    width: 16px;
    height: 15px;
    opacity: 0;
}

.modal-checkbox:checked + .modal-policy-icon {
    border: transparent;
    background-color: #2196F3;
}

.modal-checkbox:checked + .modal-policy-icon > .modal-checkbox-icon {
    opacity: 1;
}

.modal-policy-link {
    color: var(--theme-hover);
}

.modal-btn {
    display: block;
    margin: auto;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--theme-bg-bt-hover);
}
